.tp{
    margin: 15px;
}
.head{
    padding: 30px;
}
.givePadding{
    padding: 10px;
}
.btn{
    padding: 7px 100px;
    background: #000;
    color: white;
    cursor: pointer;
}
.giveMargin{
    margin: 5px;
}