.setImg{
    max-width: 190px;
    height: 30%;
    border-radius: 10px;
    margin-bottom: 4px;
    box-shadow: 5px 5px 10px #00000010;
    object-fit: cover;
}
.htext{
    margin: 15px;
    padding-bottom: 7px;
}
