@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.styl{
    padding: 7px 0;
}
.logo_i{
    font-family: "Dancing Script", cursive;
    margin: 0;
}
.par{
    margin: 10px 0;
}