.grocery_movingText::-webkit-scrollbar{
    display: none;
}
.grocery_movingText{
    h1{
        animation: moving 7s linear 0s infinite forwards;
    }
}
.adjust{
    margin: 20px 0 40px;
}
@keyframes moving {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}