@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.logo{
    font-family: "Dancing Script", cursive;
    margin-left: 30px;
}
.login{
    margin-right: 30px;
    padding: 3px 25px;
    border: 1px solid black;
    border-radius: 10px;
    
}