.team{
    /* margin-top: 70px; */
    margin-bottom: 10px;
}
.join{
    margin: 30px;
}
.set{
    margin-top: 0;
}
.btn{
    padding: 10px 22px;
    border-radius: 10px;
}
.r{
    margin-bottom: 0;
}
.short{
    margin-left: 30px;
}