@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
.heading{
    margin-left: 20px;
    margin-top: 40px;
}
.baseline{
    margin-right: 20px;
    font-family: "Edu NSW ACT Cursive", cursive;
}